{% extends 'base.html.twig' %}

{% block stylesheets %}<link href="{{ asset('build/homepage.css') }}" rel="stylesheet">{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <h1>Assistenza online</h1>
            <p>Se hai un problema con il tuo titolo di soggiorno, chiama
                subito Associazione Articolo 2 al numero fisso:
                02.49452709 o al numero di cellulare: 3491309983.</p> ​
            <p>Oppure vienici a trovare in via Settala, 84 (ingresso via
                Scarlatti, 11): siamo aperti tutti i giorni, dal lunedì al
                venerdì, dalle ore 9:00 alle ore 13:00 e dalle ore 14:00 alle
                ore 18:00.</p>
            <p>Ti aspettiamo!</p>
        </div>
    </section>

    <section>
        <div class="container">
            <h1>Contatti</h1>
            <p>Tel: 02.49452709 - 3491309983<br>
                Email: <a href="mailto:info@articolo2.com">info@articolo2.com</a><br>
                Indirizzo: Via Settala, 84 (Ingresso da via Scarlatti 11), Milano</p>
        </div>
    </section>
{% endblock %}
