body, html {
  height: 100%;
}

body {
  main {
    min-height: calc(100vh - 112px);
  }

  @include media-breakpoint-up(md) {
    main {
      min-height: calc(100vh - 122px);
    }
  }
}

footer {
  .btn-outline-primary {
    padding: 0.375rem 0;
    width: 2.375rem;
    height: 2.375rem;
  }
}

.locale-flag {
  height: 1.3rem;
}

.navbar-logo {
  height: 1rem;

  @include media-breakpoint-up(md) {
    height: 1.5rem;
  }
}

.navbar {
  border-bottom: solid 2px rgba(0, 0, 0, 0.05);

  .navbar-nav .nav-link {
    @include media-breakpoint-up(lg) {
      &.active {
        color: $primary;
        position: relative;

        &:before {
          position: absolute;
          left: 8px;
          right: 8px;
          bottom: 4px;
          content: '';
          height: 2px;
          background: $primary;
        }
      }
    }
  }
}

.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 112px);
  @include media-breakpoint-up(md) {
    height: calc(100vh - 122px);
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
  }
}
