body, html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;

  main {
    flex-grow: 1;
    overflow: auto;
  }
}

.locale-flag {
  height: 1.3rem;
}

.navbar-logo {
  height: 1.5rem;
  vertical-align: text-bottom;
}
