body, html {
  height: 100%;
}

body {
  //display: flex;
  //flex-flow: column nowrap;

  main {
    //flex-grow: 1;
    height: calc(100% - 110px);
    overflow: auto;
  }

  @include media-breakpoint-up(md) {
    main {
      height: calc(100% - 120px);
    }
  }
}

.locale-flag {
  height: 1.3rem;
}

.navbar-logo {
  height: 1.5rem;
  vertical-align: text-bottom;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;

  &.active {
    position: relative;

    &:after {
      position: absolute;
      left: 8px;
      right: 8px;
      bottom: 4px;
      content: '';
      height: 2px;
      background: white;
    }
  }
}

footer {
  .btn-outline-primary {
    padding: 0.375rem 0;
    width: 2.375rem;
    height: 2.375rem;
  }
}
