<!DOCTYPE html>
<html lang="it">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Associazione Articolo 2 website">
        <meta name="author" content="Cristian Carrino (www.cristiancarrino.it)">
        <link rel="icon" href="{{ asset('favicon.png') }}">

        <!--<link rel="canonical" href="http://cristiancarrino.it" itemprop="url">-->

        <title itemprop='name'>{% block title %}Associazione Articolo 2{% endblock %}</title>

        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>

    {% block body %}
        <body>
            <header>
                {% block header %}
                    {% include 'header.html.twig' %}
                {% endblock %}
            </header>
            <main role="main">
                <div class="main-content">
                    {% block main %}{% endblock %}
                </div>
            </main>
            <footer>
                <!-- FOOTER -->
                {% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            </footer>
        </body>

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    {% endblock %}
</html>
