<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container flex-nowrap">
        <span class="navbar-text text-truncate">Associazione Articolo 2</span>

        <div class="text-nowrap ml-auto">
            <a class="nav-item btn btn-outline-light" href="#"><i class="fa fa-facebook"></i></a>
            <a class="nav-item btn btn-outline-light ml-2" href="#"><i class="fa fa-youtube"></i></a>
            <a class="nav-item btn btn-outline-light ml-2" href="#"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</nav>
