<div class="bg-dark p-2 row text-muted align-items-center">
    <div class="col-md text-center">
        <a class="btn btn-outline-primary" href="https://www.facebook.com/Associazione-Articolo2-178390356051978/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="https://www.instagram.com/associazionearticolodue/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="https://twitter.com/articolo2"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/associazione-articolo2-30468b151"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        {#<a class="btn btn-outline-primary" href="tel:3491309983"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="mailto:info@articolo2.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>#}
    </div>
    <div class="col-md-6 py-3 py-md-0 text-center text-light">
        <div>Associazione Articolo 2</div>
        <div>Via Settala 84<span class="d-none d-sm-inline"> (Ingresso da via Scarlatti 11)</span>, 20124, Milano (MI)</div>
    </div>
    <div class="col-md text-center text-light">
        Sito realizzato da<br>
        <a class="text-primary" href="http://www.cristiancarrino.it">Cristian Carrino</a>
    </div>
</div>
