<div class="bg-dark p-3 row text-muted align-items-center">
    <div class="col-sm text-center">
        <a class="btn btn-outline-primary" href="https://www.facebook.com/Associazione-Articolo2-178390356051978/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="https://www.instagram.com/associazionearticolodue/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="https://twitter.com/articolo2"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/associazione-articolo2-30468b151"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        {#<a class="btn btn-outline-primary" href="tel:3491309983"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="mailto:info@articolo2.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>#}
    </div>
    <div class="col-sm-6 py-3 py-sm-0 text-center">
        <div>Auron Dance Academy,</div>
        <div>Via Pio VII 132<span class="d-none d-sm-inline"> (Cortile interno)</span>, 10127, Torino  (TO)</div>
    </div>
    <div class="col-sm text-center {#text-sm-right#}">
        Sito realizzato da<br>
        <a class="text-primary" href="http://www.cristiancarrino.it">Cristian Carrino</a>
    </div>
</div>
